/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500;600;700;800&family=Yeseva+One&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/* logo align */
.logo {
    width: 300px;
}

/* display phone boxshadow */
.style-cards{
    /* background: #eeffb2; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/* details div bg color */
.info-bg{
    background-color: rgba(182, 176, 176, 0.185);
}