body{
    background-color: aliceblue;
}

body h1{
font-size: 20px;
color: wheat;
}

.box{
display: flex;
float: left;
}

.box h1{
color: wheat;
font-size: 25px;

}

.side{
display: flex;
flex-direction: column;
}

.gap {
display: grid;
grid-template-columns: repeat(4 1fr);
}

.gap h1{
font-size: 60px;
color: aliceblue;
background-color: black;
}
.gap2 h1{
font-size: 60px;
color: aliceblue;
background-color: black;
}